body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2ecc71;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: black;
    color: white;
}

.product-list{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    background-color:  #F5F5DC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
    margin: 35px 24%; 
}

.product h3 {
    margin: 0;
}

.price {
    font-weight: bold;
    color: #e74c3c;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #3498db;
    color: white;
    border: none;
    height: 4vh;
    width: 10%;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #2980b9;
}

#cart {
    border: 1px solid #ddd;
    padding: 20px;
    background-color:  #F5F5DC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

#cart h2 {
    margin: 0 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    margin: 10px 0;
}

#cart-total {
    font-weight: bold;
    margin-top: 10px;
}

#empty-cart {
    background-color: #e74c3c;
    color: white;
    border: none;
    height: 4vh;
    width: 10%;
    cursor: pointer;
}

#empty-cart:hover {
    background-color: #c0392b;
}

@media screen and (max-width: 768px) {
    .product {
        width: 80%;
        margin: 0 10%;
    }
}
